<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4>e-Commerce Gapsi</h4>
            </div>
            <div class="card-body text-center">
                <img src="./../assets/images/logo.png" alt="no se encuentra la imagen" class="circular--square">
                <p class="mt-4">Bienvenido {{candidato}}</p>
                <button (click)="continuar()" class="btn btn-primary center mt-3">Continuar</button>
            </div>

            <div class="footer text-center">
                    <p class="mb-1">Version: {{version}}</p>
            </div>
        </div>
    </div>
</div>